@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@300&display=swap');


:root {
    --font: 'Poppins', sans-serif;
    --color_black: #000;
    --color_black-700: #272725;
    --color_black-700-bg: #b4b4aa;
    --color_black-500: #212529;
    --font_graw: #d6d6d6;
    --font_color_ligth: rgb(255, 255, 255);
    --font_color_ligth_80: rgba(255, 255, 255, 0.91);
    --font_color_ligth_hover: #f54b64;
    --font_color_ligth_tit: #ff5a73;
    --font-color-al_blue: #1196fc;
    --font-color-al_blue-scroll: #1196fc8e;
    --font-color-al_blue-ligth: #b0c0cd;

    --bg-btn-hover: #c82039;

    --font_title: 30px;
    --font_menu_pc: 16px;
    --font_menupc_item: 20px;
    --font_menu_pc_spacing: 3px;
    --font_title_spacing: 15px;
    --font_text-normal: 14px;
    --font_button: 20px;

    --font-text-card-title: 15px;
    --font-text-card-title-spacing: 1.5px;
    --font-text-card-title_second: 13px;
    --font-text-card-btn: 11px;

    --font-card-tols-title: 25px;
    --font-card-tools-txt: 12px;


    --input_heigth: 50px;
    --input_radius: 20px;
    --input_btn_raduis: 20px;
    

}


::-webkit-scrollbar {
    background: var(--color_black-700);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: var(--font-color-al_blue-scroll);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    background-color: var(--color_black-700);
}


/*  Menu Nav  */
.menu {
    width: 100vw;
    height: 8vh;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--color_black-700);
    z-index: 100;
}

.logo_name {
    width: 15%;

    margin-left: 5%;
}

.menu_list {
    width: 65%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu_list li {
    list-style: none;
    text-decoration: none;
    padding: 2%;
}

.menu a {
    padding: 5%;
    font-family: var(--font);
    font-size: var(--font_menu_pc);
    color: var(--font_color_ligth);
    letter-spacing: var(--font_menu_pc_spacing);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--font_color_ligth_hover);
    cursor: pointer;
}

.buttons_index {
    width: 20%;
}

.buttons_index a {
    font-size: var(--font_menupc_item);
}

/*              */


/*  Home  Index  */
.index_main {
    width: 100%;
    height: calc(90vh);
    display: flex;
    justify-content: center;
    align-items: center;


    transform: translate(0px, 10vh);
    overflow: hidden;

    font-family: var(--font);
    font-size: var(--font_title);
    letter-spacing: var(--font_title_spacing);
    color: var(--font_color_ligth);
}

.index_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.index_container::before {
    width: 100%;
    content: "";
    background-image: url("../img/bg_terno.png");
    background-repeat: no-repeat;
    background-size: calc();
    background-position: center;
    background-position-y: 0;

    transform: translate(0%, 5%);
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0px;
    left: 0;
    opacity: 70%;
    z-index: -1;
}

.index_container .index_title {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 17%;
}

.index_container .share_items {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.index_container .share_items a {
    text-decoration: none;
    color: var(--font_color_ligth) !important;
}
.index_container .share_items a:hover{
    text-decoration: none;
    color: var(--font_color_ligth_hover) !important;
}

.index_container .ligth {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: radial-gradient(circle at var(--cx) var(--cy), transparent 5%, var(--color_black-700) 20%);
}

/*             */

/*  Sobre index */
.index_main_low {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform: translate(0px, 10vh);
    overflow: hidden;
    margin-bottom: 5%;

    font-family: var(--font);
    z-index: 3;
}

.index_main_low .index_sobre_container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: left;
    align-items: center;

    background-image: url("../img/bg_sobre_white.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 90%;
}

.index_sobre_container .sobre_text {
    width: 50%;
    margin-left: 4%;
}

.index_sobre_container .sobre_img {
    width: 40%;
    margin-left: 5%;
}

.index_sobre_container .sobre_text h1 {
    font-size: var(--font_title);
    letter-spacing: var(--font_menu_pc_spacing);
    color: var(--color_black);
}

.index_sobre_container .sobre_text p {
    width: 100%;
    flex-wrap: wrap;
    font-size: var(--font_text-normal);
    color: var(--color_black);

}

/*               */

/*     Comments index       */
.index_main_low .index_coments_container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color_black-700);
    opacity: 90%;
}

.index_coments_container .coments_text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--font_color_ligth);

}

/*               */




/*   Safety   Main    */
.safety_main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}












/*   Tools main  */
.tools_main {
    width: 100%;
    height: 100%;
    transform: translate(0%, 10vh);
}

.tools_main .tools_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 5%;
    font-family: var(--font);

}

.tools_main .tools_container .tools_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);
    font-size: var(--font_button);
    color: var(--font_color_ligth);
    letter-spacing: var(--font_menu_pc_spacing);
}

.tools_main .tools_container .tools_supercard {
    width: 100%;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-bottom: 3%;
}

.tools_main .tools_container .tools_supercard .tit_tools {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--font-color-al_blue);

    margin-left: 5%;
    margin-bottom: 2%;
}

.tools_main .tools_container .tools_supercard .cards_tools {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.tools_main .tools_container .tools_supercard .cards_tools .card_tools {
    flex-wrap: wrap;
    width: 32%;
    background-color: var(--font_graw);
    border-radius: var(--input_radius);
    box-shadow: 0px 2px 23px var(--color_black);
}

.tools_supercard .cards_tools .card_tools .card_top_tools {
    padding: 20px;
}

.tools_supercard .cards_tools .card_tools .card_top_tools h2 {
    font-size: var(--font-text-card-title);
    letter-spacing: var(--font-text-card-title-spacing);
}

.tools_supercard .cards_tools .card_tools .card_top_tools p {
    font-size: var(--font-text-card-title_second);
}


.tools_supercard .cards_tools .card_tools .bottom_card_tools {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.tools_supercard .cards_tools .card_tools .bottom_card_tools .bottom_desc_tool {
    width: 100%;
    font-size: var(--font-text-card-title_second);
    padding: 0.2vw;
}

.tools_supercard .cards_tools .card_tools .bottom_card_tools .item_card_bottom {
    margin-top: 0.6%;
    margin-left: 1%;
    display: flex;
    justify-self: left;
    align-items: center;
}

.tools_supercard .cards_tools .card_tools .card_bottom_action_buttom {
    font-size: var(--font_menu_pc);
    background: none;
    border: none;
    color: var(--font-color-al_blue);
}
.star_tol{
    margin-left: 80%;
    font-size: var(--font_menupc_item) !important;
}

.tools_supercard .cards_tools .card_tools .card_bottom_action_buttom:hover {
    cursor: pointer;
    text-decoration: underline;
}


.tools_supercard .cards_tools .card_tools .med_img {
    height: 10vw;
    width: 100%;
}

.tools_supercard .cards_tools .card_tools .card_media_1 {
    background: url("http://www.cloverit.com.br/wp-content/uploads/2015/04/Kaspersky-lab.png") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_2 {
    background: url("https://www.nutanix.com/content/dam/nutanix/logos/with-padding/logo_bit-defender.png") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_3 {
    background: url("https://crdms.images.consumerreports.org/prod/products/cr/models/395974-antivirus-for-windows-malwarebytes-premium-61809.png") center/cover;

}

.tools_supercard .cards_tools .card_tools .card_media_4 {
    background: url("https://crdms.images.consumerreports.org/prod/products/cr/models/395835-antivirus-for-mac-avira-free-antivirus-for-mac-61785.png") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_5 {
    background: url("https://logosmarcas.net/wp-content/uploads/2021/12/Norton-Logo.png") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_6 {
    background: url("https://crdms.images.consumerreports.org/prod/products/cr/models/401146-free-anti-malware-programs-avg-antivirus-free-2020-10012711.png") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_7 {
    background: url("https://www.manga-reich.de/wp-content/uploads/2022/02/sanemi-shinazugawa.jpg") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_8 {
    background: url("https://sm.ign.com/ign_br/screenshot/default/giyu-tomioka-kimetsu-no-yaiba_sh3h.png") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_9 {
    background: url("https://i1.wp.com/images.gameswfu.net/demon-slayer-quem-e-muichiro-tokito-o-mist-hashira-6274b4cc5a46b.jpeg") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_10 {
    background: url("https://ovicio.com.br/wp-content/uploads/maxresdefault-131.jpg") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_11 {
    background: url("https://img.quizur.com/f/img62edd5a1680059.33018483.png?lastEdited=1659753899") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_12 {
    background: url("https://www.nerdsite.com.br/wp-content/uploads/2022/04/jujutsu-kaisen-sukuna.jpg") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_13 {
    background: url("https://loucosporgeek.com.br/wp-content/uploads/2020/10/maxresdefault-1.jpg") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_14 {
    background: url("http://pm1.narvii.com/7672/e9f5c0febb5b87b89a31d505142423132ca6f7b0r1-2048-1152v2_uhq.jpg") center/cover;
}

.tools_supercard .cards_tools .card_tools .card_media_15 {
    background: url("https://www.greenscene.co.id/wp-content/uploads/2020/05/One-Piece-2-696x497.jpg") center/cover;
}

/*               */










/* Fishy */



.fishys_main {
    width: 100%;
    height: 100%;
    transform: translate(0%, 10vh);
}

.hed_fishys {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 5%;
    font-family: var(--font);

}

.title_fishy {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);
    font-size: var(--font_button);
    color: var(--font_color_ligth);
    letter-spacing: var(--font_menu_pc_spacing);
}

.cards_fishy {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3%;
}

.card_fishys {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 3%;

    flex-wrap: wrap;

    background-color: var(--font_graw);
    border-radius: var(--input_radius);
    box-shadow: 0px 2px 23px var(--color_black);

}

.hed_card_fishys {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.hed_card_fishys img {
    width: 30%;
}

.text_card_hed_fishys {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
}

.text_card_hed_fishys .title_hed_card {
    font-size: var(--font-card-tols-title);
}

.text_tip_card {
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    flex-wrap: wrap;
}

.text_card_hed_fishys .text_tip_card h5 {
    font-size: var(--font-card-tools-txt) !important;
}

.text_card_hed_fishys .text_tip_card h6 {
    font-size: var(--font-card-tools-txt) !important;
}

.text_card_hed_fishys .text_tip_card a {
    font-size: var(--font-card-tools-txt) !important;
}

.bottom_card_fishys {
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-right: 5%;
}

.bottom_card_fishys p {
    width: 100%;
    font-size: var(--font_text-normal);
}

.bottom_card_fishys h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font_button);
}

.it_bot {
    width: 90%;
    height: 20%;
    margin-bottom: 5%;
}

.it_bot a {
    display: flex;
    margin-left: 93%;
    align-items: center;
    color: var(--color_black);
    font-size: var(--font-card-tols-title);
}

.it_bot a:hover {
    color: var(--font-color-al_blue);
    cursor: pointer;
}

/*           */















/* Login  container */
.form_main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(0px, 10%);

    background-image: url("../img/bg_login_white.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.form_main .main_container {
    width: 35%;
    margin-left: 40%;
    border-radius: 5%;
    margin-top: -3%;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    background: var(--font_color_ligth_80);
    z-index: 3;
}

.main_container .main_title {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}

.main_container form {
    width: 90%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
}

.main_container .main_inputs {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;

    margin-bottom: 10%;
}

.main_container .main_inputs input {
    width: 90%;
    height: var(--input_heigth);
    display: flex;
    border: none;
    margin-top: 3%;
    border-radius: var(--input_radius);
    font-size: var(--font_menu_pc);
    color: var(--color_black-700);
    background-color: var(--font_graw);
    padding-left: 5%;
}

.main_container .main_inputs .btn_input {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--input_btn_raduis);
    background-color: var(--font_color_ligth_hover) !important;
    color: var(--color_black) !important;
    font-size: var(--font_button) !important;

    font-family: var(--font);
}

.main_container .main_inputs .btn_input:hover {
    cursor: pointer;
    background-color: var(--bg-btn-hover) !important;
    color: var(--font_graw) !important;
}

.main_container .main_inputs .input_pass {
    display: flex;
    width: 100%;
    margin-left: 10%;
}

.main_container .main_inputs .input_pass i {
    font-size: var(--font_menupc_item);
    transform: translate(-150%, 45%);
}

.main_container .input_pass i:hover {
    color: var(--font_color_ligth_hover);
    cursor: pointer;
}

.main_container .main_inputs .login_text_repass {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 42%;

    font-family: var(--font);
    font-size: var(--font_text-normal);
}

.main_container .main_inputs .login_text_repass a {
    margin-left: 2%;
    color: var(--font_color_ligth_hover);
}

.main_container .main_inputs .login_text_repass a:hover {
    cursor: pointer;
    color: var(--bg-btn-hover);
    text-decoration: underline;
}



.main_container .main_inputs .cad_text_repass {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10%;

    font-family: var(--font);
    font-size: var(--font_text-normal);
}

.main_container .main_inputs .cad_text_repass a {
    margin-left: 2%;
    color: var(--font_color_ligth_hover);
}

.main_container .main_inputs .cad_text_repass a:hover {
    cursor: pointer;
    color: var(--bg-btn-hover);
    text-decoration: underline;
}

/*              */

/*   Profile Main   */
.profile_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 8vh);

    margin-bottom: 10%;

}

.profile_main .profile_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.profile_content .persona_itens {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;

    background-color: var(--color_black-700);
    border-radius: 1%;

}

.profile_content .persona_itens .persona_img {
    width: 75%;
    height: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--font_color_ligth);
    border-radius: 50%;
}

.profile_content .persona_itens .persona_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: var(--font_color_ligth) solid 5px;
}

.profile_content .persona_itens .persona_text {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 15%;
    font-family: var(--font);
    font-size: var(--font_text-normal);
    letter-spacing: var(--font_menu_pc_spacing);
    color: var(--font_color_ligth);
}


.profile_content .persona_tabs {
    width: 40%;
    height: auto;
    display: block;
    flex-direction: column;

    border-radius: 10px 10px 0px 0px;
    background: var(--font_graw);

    transform: translate(0%, 5%);
    
    font-family: var(--font);
    font-size: var(--font_text-normal);
    color: var(--color_black);
}

.profile_content .persona_tabs .tab_menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    background: var(--font_color_ligth_80);
    border: 1px solid var(--font_color_ligth_80);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;

    overflow: auto;
}

.profile_content .persona_tabs .tab_menu button {
    width: 20%;
    padding: 1%;
    margin-left: 5%;

    font-family: var(--font);
    font-size: var(--font_text-normal);
    letter-spacing: var(--font-text-card-title-spacing);
    color: var(--color_black);

    background: none;
    border: none;
    outline: none;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    font-weight: 600;

    float: left;
}

.profile_content .persona_tabs .tab_menu button:hover {
    font-weight: none;
    color: var(--font-color-al_blue);
    background: var(--font_graw);
}

.profile_content .persona_tabs .tab_menu button.bt_activate {
    font-weight: none;
    color: var(--font-color-al_blue) !important;
    background: var(--font_graw) !important;
}

.persona_tabs .content_tab {
    width: 100%;
    height: auto;
    display: none;

    padding: 10px;
    margin-bottom: 5%;
    border-top: none;
}
.persona_tabs .content_tab .info_tab{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;

    margin-left: 5%;
    margin-top: 4%;

    font-family: var(--font);
    font-size: var(--font_menupc_item);
}
.persona_tabs .content_tab .info_tab input{
    width: 50%;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    height: var(--font_title);
}
.persona_tabs .content_tab .info_tab textarea{
    width: 50%;
    height: 10vh;
    padding-left: 2%;
    padding-top: 2%;
}
.persona_tabs .content_tab .info_tab button{
    width: 50%;
    height: 4vh;
    background: var(--font_color_ligth_hover);
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;

    color: var(--color_black);
    font-family: var(--font);
    font-size: var(--font_menu_pc);
}
.persona_tabs .content_tab .info_tab button:hover{
    background: var(--bg-btn-hover);
    color: var(--font_color_ligth);
}
.persona_tabs .dv_active{
    display: block;
}

.persona_tabs .content_tab .card_tab{
    width: 100%;
    height: auto;
    background: transparent;
    border: var(--font-color-al_blue) solid;
    border-radius: 10px 10px 10px 10px;
    padding: 3%;
    margin-top: 2%;
}
.persona_tabs .content_tab .card_tab a button{
    background: none;
    border: none;
    margin-top: 2%;
    color: var(--font-color-al_blue);
    text-decoration: none;
    cursor: pointer;
}
.persona_tabs .content_tab .card_tab a button:hover{
    text-decoration: underline;
}