<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Safe</title>
</head>

<body>
    <header class="menu">
        <div class="logo_name">
            <a>Safe</a>
        </div>

        <ul class="menu_list">
            <li class="item">Home</li>
            <li class="item">Safety</li>
            <li class="item">Tools</li>
            <li class="item">Fishy</li>
        </ul>
        <div class="buttons_index">
            <i class="uil uil-user"></i>
        </div>
    </header>
    <main class="home_index">
        <section class="group1">
            <div class="text_title">
                <h1 class="tt_1">Safe Deep</h1>
            </div>
        </section>
        <div class="ligth"></div>

    </main>
</body>

</html>