<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css')}}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Safe</title>
</head>

<body>
    <header class="menu">
        <div class="logo_name">
            <a href="/">Safe</a>
        </div>

        <ul class="menu_list">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/safety">Safety</a></li>
            <li class="item"><a href="/tools">Tools</a></li>
            <li class="item"><a href="/fishys">Fishy</a></li>
        </ul>
        <div class="buttons_index">
            {% if session.user_name %}
            <a href="/profile" class="uil uil-user"></a>
            {% else %}
            <a href="/login" class="uil uil-user"></a>
            {% endif %}
           
            <a class="uil uil-bug"></a>
            {% if session.user_name %}
                <a href="/logout" class="uil uil-sign-out-alt"></a>
            {% endif %}

        </div>
    </header>

    {% block content %}
    {% endblock %}


    <script src="{{ url_for('static', filename='../static/js/main.js') }}"></script>
</body>

</html>