{% extends "base.html"%}
{% block content %}

<main class="index_main">
    <section class="index_container">
        <div class="ligtah"></div>

        <div class="index_title">
            <h1 class="tt_1">Safe Deep</h1>
        </div>
        <div class="share_items">
            <a class="uil uil-github-alt"></a>
            <a class="uil uil-youtube"></a>
            <a class="uil uil-instagram"></a>
        </div>
        <script>
            var move = document.body;
            move.onmousemove = function (e) {
                move.style.setProperty("--cx", e.clientX + "px");
                move.style.setProperty("--cy", e.clientY + "px");
            }
        </script>
    </section>
</main>
<main class="index_main_low">
    <section class="index_sobre_container">
        <div class="sobre_text">
            <h1>Sobre nós</h1>
            <p>Safe Deep, uma plataforma feita para te auxiliar e ajudar para que você possa ter um nivel suficiente
                sobre segurança da informação, para então te ajudar a evitar ataques de invasores mal-intencionados
                visando manter seus dados seguros, integros e disponiveis.
                Alem de mostrar algumas ferramentas que podem ser utilizadas para que isso possa ser possivel,
                disponibilizando todas as informações necessaria. </p>
                <p>Ass. Kainã</p>
            <br>
            <p>Aqui você também podera realizar denuncias anonimas para possiveis sites maliciosos, ou possiveis
                invasores, que será analizada e confirmada caso for verdade.</p>
        </div>
        <div class="sobre_img">
        </div>
    </section>
    <section class="index_coments_container">
        <div class="coments_text">
            <h1>Mas o que é Segurança da Informação?</h1>
            <p></p>

        </div>
    </section>
</main>

{% endblock %}