{% extends "base.html"%}
{% block content %}
<main class="profile_main">
    <div class="profile_content">
        <div class="persona_itens">
            <div class="persona_img">
                <img src="{{ url_for('static', filename='../static/img/personoid_profile.jpg') }}" alt="">
            </div>
            <div class="persona_text">
                <h1>{{profile["Nome"]}}</h1>
                <h4>Quem sou ?</h4>
                <p>{{ profile["Descrição"] }}</p>
            </div>
        </div>
        <div class="persona_tabs">
            <div class="tab_menu">
                <button class="tab_btn bt_activate" onclick="abrirTab(event, 'profile')">Profile</button>
                <button class="tab_btn" onclick="abrirTab(event, 'tools')">Tools</button>
                <button class="tab_btn" onclick="abrirTab(event, 'fishys')">Fishys</button>
            </div>

            <div class="content_tab dv_active" id="profile">
                <div class="info_tab">
                    <h2>Perfil</h2>
                    <div class="tab_inputs">
                        <p>Nome</p>
                        <input type="text" placeholder="{{profile['Nome']}}" disabled>
                    </div>
                    <div class="tab_inputs">
                        <p>Email</p>
                        <input type="text" placeholder="{{ profile['Email'] }}" disabled>
                    </div>
                    <div class="tab_inputs">
                        <p>Descrição</p>
                        <textarea type="text" placeholder="{{ profile['Descrição'] }}" disabled></textarea>
                    </div>

                    <div class="tab_inputs">
                        <button>Editar</button>
                    </div>
                </div>
            </div>

            <div class="content_tab" id="tools">
                <h2>Tools</h2>
                {% for fert in profile["ferramentas_curtidas"] %}
                <div class="card_tab">
                    <h2> Nome: {{ fert["Nome"] }}</h2>
                    <p>Tipo: {{fert["Tipo"]}}</p>
                    <p>Descrição: {{ fert["Descricao"] }}</p>
                    <a href="/tools"><button class="card_bottom_action_buttom">Ver Mais</button></a>
                </div>
                {% endfor %}
            </div>

            <div class="content_tab" id="fishys">
                <h2>Fishys</h2>
                {% for fert in profile["denuncias_curtidas"] %}
                <div class="card_tab">
                    <h2> Nome: {{ fert["Nome"] }}</h2>
                    <p>Tipo: {{fert["Tipo"]}}</p>
                    <p>Descrição: {{ fert["Descricao"] }}</p>
                    <a href="/tools"><button class="card_bottom_action_buttom">Ver Mais</button></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% endblock %}